.switch-auth-mode-container {
  text-align: center;

  .switch-auth-mode {
    color: #0a58ca;
    margin-top: 1em;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
      color: #3370ca;
    }
  }
}
