@use "sass:color";

$card-dark: #1e293b;
$card-highlight: #f97316;
$card-highlight-gradient: linear-gradient(135deg, #fb923c, #f97316);
$text-muted: #1f78f5;

.summary-container {
  padding-top: 1rem;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .sunny {
    width: 300px;
  }

  .summary-box {
    border-radius: 1.5rem;
    padding: 1.25rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

  .time-spent-box {
    grid-column: 1 / -1;
    text-align: center;
  }

  .streak-box {
    grid-row: 1;
    grid-column: 2;
  }

  .bg-orange-gradient {
    background: $card-highlight-gradient;
  }

  .progress-box {
    grid-column: 1 / -1;
    grid-row: 3;
    text-align: center;
  }
}
