.desktop-homepage-container {
  // border: 3px solid red;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;

  .desktop-homepage-inner {
    // border: 3px solid cyan;
    height: 99dvh;
    width: 96dvw;
    margin-left: auto;
  }
}
