.desktop-homepage-container {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;

  .desktop-homepage-inner {
    height: 99dvh;
    width: 96dvw;
    margin-left: auto;
  }
}
