:root,
body {
  &.light-theme {
    --primary: #a78bfa;
    --primary-light: #4f46e5;
    --primary-dark: #8b5cf6;
    --text-color: #333333;
    --text-color-light: #555555;
    --card-bg: #ffffff;
    --card-bg-light: #e2e8f0;
    --input-bg: #f9f9f9;
    --input-bg-focus: #f9f9f9;
    --border-color: #ccc;
    --focus-color: #6366f1;
    --disabled-bg: #e0e0e0;
    --page-bg: rgb(245, 245, 245);
    --navbar-expand-button: #2a2a2a;
    --navbar-hover-color: #3d3d3d;

    --success: #01ff8d;
    --success-dark: #00b260;
    --secondary: #9ca3af;
    --secondary-dark: #6b7280;
    --placeholder-color: #a1a1aa;
    --danger-color: #ef4444;
    --header-color: #1f2937;
    --input-text-color: var(--text-color);
    --input-text-color-focus: var(--text-color);
    --background-color: var(--page-bg);
    --primary-rgb: 79, 70, 229;

    --glossy: rgba(0, 0, 0, 0.05);
    --glossy-border: rgba(0, 0, 0, 0.1);

    --calendar: #f77272;
    --activeHabit: #58a0de;
    --siteNews: #776ab4;
  }

  &.dark-theme {
    --primary: #646cff;
    --primary-light: #9ca3af;
    --primary-dark: #5056e9;
    --text-color: #ffffff;
    --text-color-light: #cccccc;
    --card-bg: #282c34;
    --card-bg-light: #343942;
    --input-bg: #3a3f47;
    --input-bg-focus: #3a3f47;
    --border-color: #4a4f57;
    --focus-color: #8a8dff;
    --disabled-bg: #4a4f57;
    --page-bg: #1a1a1a;
    --navbar-expand-button: #999999;
    --navbar-hover-color: #e1e1e1;

    --success: #01ff8d;
    --success-dark: #00b260;
    --secondary: #4b5563;
    --secondary-dark: #374151;
    --placeholder-color: #9ca3af;
    --danger-color: #dc2626;
    --header-color: var(--text-color);
    --input-text-color: var(--text-color);
    --input-text-color-focus: var(--text-color);
    --background-color: var(--page-bg);
    --primary-rgb: 100, 108, 255;

    --glossy: rgba(255, 255, 255, 0.1);
    --glossy-border: rgba(255, 255, 255, 0.2);

    --calendar: #c55a5a;
    --activeHabit: #4d88bb;
    --siteNews: #5e548e;
  }
}

.App {
  position: relative;
  height: 100dvh;
  width: 100dvw;
  overflow: auto;
  background-color: var(--page-bg);
  color: var(--text-color);
  transition: 1s;
}

/* SCSS for modals */
.modal {
  .modal-content {
    background-color: var(--card-bg);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
  }

  .modal-header {
    background-color: var(--card-bg-light);
    border-bottom: 1px solid var(--border-color);
    color: var(--text-color);

    .modal-title {
      color: var(--text-color);
    }

    .btn-close {
      color: var(--text-color-light);
    }
  }

  .modal-body {
    background-color: var(--card-bg);
    color: var(--text-color);
    padding: 1.5rem;
  }

  .modal-footer {
    background-color: var(--card-bg-light);
    border-top: 1px solid var(--border-color);
  }

  /* Form elements within the modal */
  .form-group {
    margin-bottom: 1rem;
  }

  .form-label {
    color: var(--text-color-light);
    font-weight: 500;
    margin-bottom: 0.3rem;
    display: block;
  }

  .form-control,
  .form-select {
    background-color: var(--input-bg);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;

    &:focus {
      background-color: var(--input-bg-focus);
      border-color: var(--focus-color);
      color: var(--text-color) !important;
      box-shadow: 0 0 0 0.25rem rgba(var(--focus-color), 0.25);
      outline: 0;
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px var(--input-bg) inset !important;
      -webkit-text-fill-color: var(--text-color) !important;
      caret-color: var(--text-color) !important;
    }

    /* Specific styles for placeholder text */
    &::placeholder {
      color: var(--placeholder-color);
      opacity: 1;
    }
  }

  /* Checkboxes */
  .form-check-label {
    color: var(--text-color);
  }

  .form-check-input {
    background-color: var(--primary);
    border-color: var(--border-color);

    &:checked {
      background-color: var(--primary-dark);
      border-color: var(--primary-dark);
    }
  }

  /* Buttons */
  .btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--text-color);

    &:hover {
      background-color: var(--primary-dark);
      border-color: var(--primary-dark);
    }
  }

  .btn-secondary {
    background-color: var(--card-bg-light);
    border-color: var(--border-color);
    color: var(--text-color);

    &:hover {
      background-color: var(--border-color);
    }
  }
}
